<h2 class="title" style="text-align: center">Tạo Mới Khóa Học</h2>
<div class="m-4">
  <form method="POST" action="">
    <div class="form-group m-2">
      <label>Tên khóa học</label>
      <input type="text" class="form-control" id="name" name="name" />
    </div>
    <div class="form-group m-2">
      <label>Mô tả khóa học</label>
      <input type="text" class="form-control" id="description" name="description" />
    </div>
     <div class="form-group m-2">
      <label>Loại Video</label>
      <input type="text" class="form-control" id="videoType" name="videoType" />
    </div>
    <div class="form-group m-2">
      <label>Video Id</label>
      <input type="text" class="form-control" id="videoId" name="videoId" />
    </div>

    <button type="submit" class="btn btn-primary">Nhập khóa học</button>
  </form>
</div>